<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Online Food Delivery Services In India | MyOnlineMeal.com</title>
    <link rel="stylesheet" href="food.css">
    <link rel="stylesheet" media="screen and (max-width:1170px)" href="phone.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="d logo.avif" alt="">
        </div>


        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container"> Services</a></li>
            <li class="item"><a href="#client-section">Our Clients</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
           
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome To MyOnlineMeal </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quaerat s itaque illo minima ?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicin  itaque illo minima </p>
        <button class="btn">Order Now</button>
    </section>
    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="servises">
            <div class="box">
                <img src="food.avif" alt="">
                <h2 class="h-secondary center">Food Catering</h2>
               <p class="center"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque dolor nulla quo aperiam alias minus impedit blanditiis quis eligendi, aliquam sequi possimus delectus exercitationem dolorum fuga voluptatum reprehenderit nam molestiae quos! Minus, unde corporis! </p>
            </div>
            <div class="box">
                <img src="food1.avif" alt="">
                <h2 class="h-secondary center">Bulk Catering</h2>
               <p class="center"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque dolor nulla quo aperiam alias minus impedit blanditiis quis eligendi, aliquam sequi possimus delectus exercitationem dolorum fuga voluptatum reprehenderit nam molestiae quos! Minus, unde corporis! </p>
            </div>
            <div class="box">
                <img src="bulk1.png" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
               <p class="center"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque dolor nulla quo aperiam alias minus impedit blanditiis quis eligendi, aliquam sequi possimus delectus exercitationem dolorum fuga voluptatum reprehenderit nam molestiae quos! Minus, unde corporis! </p>
            </div>

        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="client">
            <div class="client-item">
                <img src="apple.png" alt="">
            </div>
            <div class="client-item">
                <img src="microsoft.png" alt="">
            </div>
            <div class="client-item">
                <img src="skype.webp" alt="">
            </div>
            <div class="client-item">
                <img src="dell.png" alt="">
            </div>
        </div>
    </section>
    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="name" id="email" placeholder="Enter your Email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div><div class="form-group">
                    <label for="maessage">Maessage</label>
                    <textarea name="maessage" id="maessage" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="center">
            copyright &copy; www.MyOnlineMeal.Com All rights reseversd!
        </div>
    </footer>
</body>
</html>