<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <header>
      <center><h1>RAGISTRATION FORM</h1></center>
      <hr>
    </header>
    <div>
        <img src="backbround.png" alt="" style="margin: 0px 60px; width: 30%;">
       <img src="eront.jpg" alt="" style="margin: 90px 70px; width: 23%;">
        <img src="gangaur.png" alt="" style="margin: 60px 5px;">
    </div>
    <fieldset>
    <div>
       <img src="testimonial-author.jpg" alt="" style="margin:20px 0px;" height="26%" width="13%">
    </div>
    <div>
        
           <form action="">
            <label for="">Name</label>
                 <input type="text"> <br> <br>
                 <label for="">Email</label>
                 <input type="email"> <br> <br>
                 <label for="">Password</label>
                 <input type="password"> <br><br>
                 <label for="">Gender</label>
                 <input type="radio" name="G"> Male
                     <input type="radio" name="G"> Femail
                     Language : <input type="checkbox"> Hindi
                                <input type="checkbox"> English <br><br>
            
                 Date : <input type="date"><br><br>
                 Time : <input type="time"><br><br>
                 
                 
                 <button>Submit</button>
            </form>
            </fieldset>

            
    </div>
    <footer>
       <center>copyright &copy; www.MyOnlineMeal.Com All rights reseversd!</center>
    </footer>
</body>
</html>